[run]
source = 
    app.py
    business
    routes
    utils 

omit =
    tests/*
    .venv/*
    **/__init__.py
    config.py
    */routes/*
    */storage/*
    */rate_limiter.py
    */storage_protocol.py

[report]
exclude_lines =
    if __name__ == .__main__.:
